@page
@model netCore.Pages.salesModel
@{
   

}

<h1>Hurray our orders!!!</h1>
<a class="btn btn-primary" href="/add_sales">Add Order</a><br><br>
<head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
</head>

<body>
<table>
    <thead>
        
        <tr>
            <th>CUSTOMER ID</th>
            <th> Name </th>
            <th>PRODUCT ID</th>
            <th> ORDER DATE</th>
            <th>AMOUNT </th>
            <th>ADDRESS</th>
            <th>PHONE </th>
            <th> update order </th>
            <th>Delete order</th>
        </tr>
    </thead>
    <tbody>
        
            
        
        @foreach (var x in Model.list_name){
        
        
        <tr>
            <td>@x.customer_id</td>
            <td>@x.name</td>
            <td>@x.product_id</td>
            <td>@x.orderdate </td>
            <td>@x.amount</td>
            <td>@x.address</td>
            <td>@x.phone</td>
            <td><a href="/Edit_Sales?id=@x.customer_id" class="btn btn-success"> Update</a></td>
            <td><a href="/delete_sales?id=@x.customer_id" class="btn btn-danger"> Delete</a></td>

          
        </tr>
        }
    </tbody>
</table>
</body>
